.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.show-block {
  display: block
}

.hide {
  display: none
}

.operate-num {
  color: #5d7eab;
  font-size: .12rem;
  margin-left: .07rem;
}

.link-content {
  padding: .1rem .1rem .2rem;
}

.loading-icon {
  width: .2rem;
  height: .2rem;
  display: inline-block;
  background: url('./assets//imgs/loading_more.gif');
  background-size: cover;
  margin-right: .2rem;
}

.comment-list {
  width: 100%;
  margin-top: .15rem;
}

.comment-list .no-comment {
  border: 1px dashed #ccc;
  border-radius: 10px;
  text-align: center;
  padding: .2rem 0;
}

.comment-list .no-comment p.bold {
  margin-bottom: .04rem;
  font-size: .14rem;
  font-weight: 700;
}

.comment-list .no-comment p {
  color: #666;
  font-size: .12rem;
}